.hero-section{
    padding-top: 100px;
    padding-bottom: 15%;
    background-image: url('../../../../public/static/images/background.jpeg');
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: 100%;
}